@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

/*Color from https://www.nordtheme.com/*/

* {
    /*Polar Night*/
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    /*Snow Storm*/
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    /*Frost*/
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    /*Aurora*/
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
    /*font*/
    font-family: 'DM Mono', monospace;
}

body {
    background-color: var(--nord6);
}

.container-xl {
    background-color: var(--nord6);
}

.navbar {
    background-color: var(--nord6);
}

nav a {
    color: var(--nord1);
}

nav a:hover {
    color: var(--nord11);
}

main {
    background-color: var(--nord6);
}

.jumbotron {
    background-color: var(--nord4);
}

.welcome {
    font-size: 1.2rem;
}

.card-home {
    background-color: var(--nord4);
    color: var(--nord0);
    transition: .5s;
}

.card-home:hover {
    opacity: .6;
}

.bg-primary {
    background-color: var(--nord13) !important;
    color: var(--nord11) !important;
    font-weight: 500 !important;
}

.my-github {
    color: var(--nord0);
    stroke-width: 4px;
    transition: .5s;
}

.my-github:hover {
    opacity: .6;
}

.name {
    font-size: 1.75em;
}

.job {
    font-size: 1.1em;
}

.list-group-item {
    background-color: var(--nord6);
    border: none;
}

.progress-skills {
    background-color: var(--nord10);
}

.my-social-media-link {
    transition: 0.3s;
}

.my-social-media-link:hover {
    background-color: #D8DEE9;
    border: .1px solid #D8DEE9;
    border-radius: 50%;
    -webkit-transform: scale(1.25);
}

.github:hover {
    box-shadow: 0 0 2rem #4C566A;
}

.twitter:hover {
    box-shadow: 0 0 2rem rgba(29, 161, 242, 1.00);
}

.linkedin:hover {
    box-shadow: 0 0 2rem #0073b1;
}

.contact-form-title {
    background-color: var(--nord7);
    box-shadow: 0 0 1rem var(--nord7);
}

.contact-send-button {
    background-color: var(--nord0);
    transition: 0.3s;
}

.contact-send-button:hover {
    background-color: var(--nord7);
    color: var(--nord0);
    box-shadow: 0 0 1rem var(--nord0);
}

.input-invalid {
    border: 1px solid red;
}

.input-valid {
    border: 1px solid green;
}

.link-news {
    text-decoration: none;
    color: var(--nord0);
}

.link-news:hover {
    text-decoration: none;
    color: var(--nord0);
}